# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

describe.py
emoji/
*.gif
*.pyc
*.log
*.toc
*.pkg
*.pyz
*.pyd
*.exe
*.manifest
*.dll
*.csv
*.enc
*.tcl
build/pwgen/warnpwgen.txt
*.msg
*.terms
*.eps
dist/
build/
*.spec
editable.py
optmenudemo.py
statusbardemo.py
tooltip.py
sites.csv
